@import url(https://db.onlinewebfonts.com/c/e7f249e71a563eed9c495835657eb9c2?family=Poetsen+One);

@font-face {
    font-family: "Poetsen One";
    src: url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.eot");
    src: url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/e7f249e71a563eed9c495835657eb9c2.svg#Poetsen One")format("svg");
}

body {
    font-family: "Poetsen One";
}

.homePage {
    background: url("../assets/58471.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    padding: 0px 13px;
    background-size: 100vw 100vh;
    overflow-x: hidden;

    .headHomePage {
        position: relative;
        display: flex;
        background: linear-gradient(#33aa33, #4b8e44);
        border-bottom: 1px solid #33aa33;
        padding: 11px 16px;
        justify-content: space-between;
        align-items: center;

        // .head-profile {
        //     margin: 0px 30px;
        //     padding: 16px 20px;
        //     border-radius: 16px;
        //     background: linear-gradient(120.39deg, #348133 33.76%, #2b9d2b 95.99%);
        //     // background: linear-gradient(120.39deg, rgba(177, 95, 99, 1) 33.76%, rgb(181 116 119) 95.99%);
        //     box-shadow: 0px 4px 4px 0px rgba(249, 249, 249, 0.25);
        //     margin-top: 16px;
        //     position: relative;

        //     .headbody {
        //         display: flex;
        //         justify-content: space-between;
        //         align-items: center;

        //         .profileImgText {
        //             display: flex;
        //             align-items: center;
        //             justify-content: space-between;

        //             .profileTop {
        //                 display: flex;
        //                 align-items: center;

        //                 img {
        //                     object-fit: cover;
        //                     width: 45px;
        //                     background: rgb(255, 255, 255);
        //                     height: 45px;
        //                     border-radius: 50%;
        //                     padding: 2px
        //                 }

        //                 .profileText {
        //                     margin-left: 6px;
        //                     color: white;
        //                     margin-left: 10px;

        //                     h6 {
        //                         font-weight: 400;
        //                         font-size: 17px;
        //                         margin-bottom: 2px;
        //                     }
        //                 }
        //             }
        //         }

        //         .headIcon {
        //             display: flex;
        //             align-items: center;

        //             .iconImg {
        //                 background: linear-gradient(270deg, rgba(237, 168, 0, 0.69) 0%, rgba(255, 213, 79, 0.69) 98.23%);
        //                 border: 0.68px solid rgba(253, 192, 39, 1);
        //                 width: 34px;
        //                 height: 34px;
        //                 cursor: pointer;
        //                 border-radius: 50%;
        //                 display: flex;
        //                 align-items: center;
        //                 margin: 0px 3px;
        //                 justify-content: center;

        //                 img {
        //                     width: 20px;
        //                     filter: brightness(2);
        //                     height: 20px;
        //                 }
        //             }
        //         }
        //     }


        // }
        .leftSidePage {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .avtarShow {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .imgShow {
                    width: 50px;
                    height: 50px;
                    background-color: #FFFFFF;
                    border: 1px solid #FFFFFF;
                    border-radius: 50%;
                    display: flex;
                    position: relative;
                    align-items: flex-end;
                    justify-content: center;

                    img {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                span {
                    color: white;
                    font-size: 16px;
                    margin-left: 10px;
                    font-weight: 400;
                }
            }


        }

        .coinBoxHomePage {
            display: flex;
            justify-content: flex-end;
    align-items: center;
            .coinShowHomePage {
                max-width: 200px;
                min-width: 110px;
                margin-left: 26px;
                padding: 5px;
                justify-content: space-between;
                border: 0.68px solid #FDC027;
                background: #0000004D;
                border-radius: 6px;
                width: 100%;
                display: flex;
                align-items: center;

                .showImg {
                    display: flex;
                    align-items: center;

                    img {
                        width: 20px;
                        height: 20px;
                    }

                    h6 {
                        color: white;
                        margin-left: 6px;
                        margin-bottom: 0px;
                        font-size: 14px;
                        font-weight: 400;
                    }
                }

                .addIcon {
                    width: 23px;
                    border: 0.68px solid #FDC027;
                    background: #0000004D;
                    height: 23px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;

                    span {
                        color: white;
                        font-size: 16px;
                    }
                }
            }
            .walletImg {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                .walleteBox {
                    border: 0.68px solid rgba(253, 192, 39, 1);
                    background: linear-gradient(180deg, rgba(255, 179, 0, 0.76) 0%, rgba(255, 213, 79, 0.76) 100%);
                    margin: 0px;
                    border-radius: 40px;
                    width: 100px;
                    height: 36px;
                    display: flex;
                    align-items: center;
                    position: relative;
                    justify-content: center;

                    img {
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        left: -10px;
                        object-fit: cover;
                    }

                    h6 {
                        font-size: 16px;
                        margin: 0px;
                        font-weight: 400;
                        color: white;
                    }

                    .addIcon {
                        width: 28px;
                        height: 28px;
                        position: absolute;
                        display: flex;
                        right: -10px;
                        border-radius: 50%;
                        background: linear-gradient(180deg, #FFB300 0%, #FFD54F 100%);
                        align-items: center;
                        justify-content: center;

                        span {
                            font-size: 20px;
                            font-weight: 400;
                            color: white;
                        }
                    }
                }

            }
        }

    }

    .homeBody {
        .menuShow {
            box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
            background: linear-gradient(#33aa33, #257a1c);
            height: calc(100vh - 73px);
            max-width: 33vh;
            overflow-y: scroll;
            height: calc(100vh - 73px);
            max-height: calc(100vh - 73px);
            .iconShow {
                border-bottom: 1px solid #D9D9D9;
                padding: 14px 10px;
                cursor: pointer;
                margin-top: 0px;

                &:hover {

                    background: linear-gradient(270deg, rgb(235 191 60 / 55%) 0%, rgb(193 156 39 / 68%) 98.23%);

                    span {
                        color: #F5B909;

                    }
                }

                &:nth-last-child(1) {
                    border-bottom: none;
                }

                img {
                    width: 24px;
                    height: 24px;
                }

                span {
                    color: white;
                    font-size: 14px;
                    font-weight: 400;
                    margin-left: 10px;
                }
            }
        }

        .logoShow {
            align-items: center;
            justify-content: center;
            display: flex;
        }

        .LogoShowHome {
            .logoShowImg {
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-top: 2vh;

                .logoImg {
                    width: 200px;
                    border: 6px solid #ffc107;
                    border-radius: 50%;
                    outline: 1px solid #ffc107;
                    object-fit: cover;
                    height: 200px;
                }

                h6 {
                    color: white;
                    font-size: 20px;
                    margin-top: 18px;
                    text-decoration: underline;
                    text-underline-position: under;

                }
            }

            .GameShowHome {
                display: flex;
                align-items: center;
                margin-top: 6vh;
                justify-content: center;

                .gameShowBox {
                    box-shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.25);
                    background: linear-gradient(#33aa33, #257a1c);
                    border-radius: 12px;
                    color: white;
                    border: 1px solid #F5B909;
                    outline: 3px solid #F5B909;
                    width: 136px;
                    height: 130px;
                    display: flex;
                    margin: 0px 13px;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;
                    justify-content: space-evenly;

                    &:focus {
                        background: linear-gradient(#4bb04b, #2e8624);
                        border-color: white;
                        outline-color: white;

                        span {
                            color: #FFB300;

                        }
                    }

                    &:hover {
                        background: linear-gradient(#4bb04b, #2e8624);
                        border-color: white;
                        outline-color: white;

                        span {
                            color: #FFB300;

                        }
                    }

                    &:active {
                        background: linear-gradient(#4bb04b, #2e8624);
                        border-color: white;
                        outline-color: white;

                        span {
                            color: #FFB300;

                        }
                    }

                    img {
                        width: 46px;
                        height: 46px
                    }

                    span {
                        color: white;
                        font-size: 15px
                    }
                }
            }
        }
    }
}

.withmodel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0000006b;
    z-index: 5;
    display: inline-flex;
    padding-right: 0px !important;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    backdrop-filter: blur(1px);
    z-index: 10000 !important;
    padding: 0 30px;

    .withModelHead {
        margin-top: 6%;
        width: 88vh;
        font-family: sans-serif !important;
        padding: 6px;
        border-top-right-radius: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: linear-gradient(#33aa33, #23561e);
        border-top-left-radius: 10px;

        .closeModelIcon {
            background-color: #FFD54F;
            border-radius: 50%;
            position: relative;
            width: 52px;
            height: 48px;
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;

            .closeModelBg {
                background-color: #F51925;
                width: 38px;
                height: 38px;
                top: 4px;
                position: absolute;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                ;

                i {
                    &::before {
                        color: white;
                        font-size: 16px;
                    }
                }
            }
        }

        h6 {
            color: white;
            text-align: center;
            font-weight: 100;
            margin: 0px;
            padding: 10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
            width: 100%;
            font-size: 16px;
        }
    }

    .withModelbody {
        height: calc(100vh - 6%);
        width: 88vh;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
        background-color: white;

        .tableShow {
            table {
                width: 100%;
                margin-top: 10px;

                thead {
                    background-color: #3F3B3B;

                    th {
                        color: white;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
                        padding: 5px;
                        font-weight: 500;
                        text-align: center;
                    }
                }

                tbody {
                    tr {
                        td {
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
                            padding: 6px;
                            color: #7B6F6F;
                            text-align: center;
                            font-weight: 500;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}

.model {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4196078431);
    z-index: 5;
    display: inline-flex;
    padding-right: 0px !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
    z-index: 10000 !important;

    .modelMain {
        max-width: 70vh;
        width: 100%;
        min-height: 26vh;
        height: auto;

        .modelHead {
            border-radius: 20px 20px 0px 0px;
            padding: 10px 16px;
            background: #D9D9D9;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .closeIcon {
                display: flex;
                background: #F15352;
                width: 40px;
                border-radius: 50%;
                cursor: pointer;
                height: 38px;
                align-items: center;
                justify-content: center;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            h6 {
                margin: 0px;
                width: 100%;
                text-align: center;
            }
        }

        .modelBody {
            background: linear-gradient(#33aa33, #23561e);
            border-radius: 0px 0px 20px 20px;
            padding-bottom: 30px !important;
            padding: 10px 16px;
            height: auto;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;


        }
    }
}

.withdrwalReq {
    .modelBody {
        padding-bottom: 20px;

        h6 {
            color: white;
            margin: 0px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
            font-size: 13px;
            margin-top: 8px;
            font-size: 15px;

            span {
                margin-left: 11px;
                color: #FFD54F;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            margin-top: 12px;
            align-items: center;

            .modelInput {
                margin-top: 14px;
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                input {
                    border: 1px solid #9F9D9D;
                    border-radius: 14px;
                    height: 42px;
                    font-size: 14px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
                    width: 50%;
                    padding: 8px;
                }

                select {
                    border-radius: 14px;
                    height: 42px;
                    width: 50%;
                    font-size: 14px;
                    padding: 8px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
                    margin-left: 10px;
                    border: 1px solid #9F9D9D;
                }
            }

            button {
                border: 1px solid #DC6D06;
                background: rgba(255, 187, 11, 0.8705882353);
                border-radius: 8px;
                color: white;
                font-weight: 600;
                font-size: 14px;
                padding: 6px 25px;
                margin-top: 17px;
            }

        }

        .paymentShow {
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: white;
            border-radius: 8px;
            margin-top: 32px;

            img {
                width: 78px;
                height: 60px;
                color: white;
                object-fit: contain;
            }

            svg {
                width: 78px;
                height: 60px;
                fill: white;
                color: white;
                object-fit: contain;
            }
        }
    }
}

.settingModel {
    .modelMain{
        overflow: hidden;
    }
    .modelBody {
        overflow: hidden !important;
        .settingBox {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            overflow: hidden;
            padding: 8px 14px;
            margin: 10px 2px;
            background-color: #e3e2d2;
            border-radius: 6px;

            i {
                color: #FFA242;
                width: 10%;

                &::before {
                    font-size: 28px;
                }
            }

            h6 {
                font-size: 16px;
                width: 80%;
                text-align: center;
                margin: 0px;
            }

            input {
                width: 46px;
                height: 23px;
            }

            .form-check {
                width: 10%;
            }

            .form-check-input:checked {
                border-color: #FFA242;
                background-color: #FFA242;
            }
        }
    }
}

.promotionModel {
    .modelBody {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 20px 16px !important;

        h6 {
            color: white;
            background: #00000066;
            padding: 10px 22px;
            border-radius: 10px;
            margin-right: 20px;

        }

        img {
            width: 100%;
            height: 100%;
            max-width: 260px;
        }
    }
}


.shopNewModel {
    table {
        width: 90%;
        border-collapse: separate;
        border-spacing: 5px;

        thead {
            tr {
                th {
                    text-align: center;
                    color: #fbf149;
                }
            }
        }

        tbody {
            font-family: 'Games', sans-serif;

            tr {
                background-color: #e3e2d2;
                margin: 10px 0px;

                td {
                    text-align: center;
                    background-color: #e3e2d2;
                    margin: 10px 0px;
                    width: 50%;

                    button {
                        color: white;
                        outline: none;
                        background-color: #3da0c3;
                        color: white;
                        font-weight: 600;
                        border: 1px solid #3da0c3;
                        outline: 2px solid #3da0c3;
                        font-size: 14px;
                        padding: 2px 6px;
                        padding: 1px 0px;
                        box-shadow: -3px 2px 16px 1px rgba(0, 0, 0, 0.1882352941);
                        width: 80px;
                        border-radius: 5px;
                        min-width: 100px;

                        &:active {
                            position: relative;
                            top: 1px;
                        }
                    }

                    &:nth-child(1) {
                        border-top-left-radius: 25px;
                        border-bottom-left-radius: 25px;
                    }

                    &:nth-last-child(1) {
                        border-top-right-radius: 25px;
                        border-bottom-right-radius: 25px;
                    }

                    .priceShow {
                        display: flex;
                        align-items: center;
                        margin: 5px 0px;
                        justify-content: center;

                        img {
                            width: 30px;
                            height: 30px;
                        }

                        h6 {
                            margin: 0px;
                            font-weight: bold;
                            color: black;
                            margin-left: 6px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}

.profileView {
    .modelMain{
        max-width: 74vh;
    }
    .profileEdit {
        .profileDetialsShow {
            display: flex;
            align-items: center;

            .showImg {
                background-color: #FFFFFF;
                position: relative;
                display: flex;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                align-items: center;
                justify-content: center;

                img {
                    width: 40px;
                    height: 40px;
                }

                i {
                    position: absolute;
                    background-color: #0fa7c5;
                    right: 0;
                    color: white;
                    border-radius: 50%;
                    width: 25px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    bottom: -2px;

                    &::before {
                        font-size: 13px;
                    }
                }
            }

            .profileDetails {
                h6 {
                    margin: 2px 0px;
                    color: white;
                    margin-left: 14px;
                    font-size: 15px;
                }
            }
        }

        .profileAvtarProfile {
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 6px;
            margin-top: 26px;

            .showImg {
                background-color: #FFFFFF;
                position: relative;
                display: flex;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                align-items: center;
                justify-content: center;

                &:nth-child(2) {
                    border: 2px solid #FFF500;
                }

                img {
                    width: 30px;
                    height: 30px;

                }
            }
        }
    }

    form {
        .inputProfileBox {
            .inputShowProfile {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                label {
                    color: white;
                    margin-top: 6px;
                    font-size: 16px;
                }

                input {
                    background-color: #D9D9D9;
                    font-size: 14px;
                    color: black;
                    border-radius: 10px;
                    width: 100%;
                    margin-top: 6px;
                    outline: none;
                    border: none;
                    padding: 4px 10px;
                }
            }
        }

        button {
            margin-top: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            outline: none;
            background-color: #3da0c3;
            border: none;
            color: white;
            padding: 6px 20px;
        }
    }
}


@media screen and (max-width: 576px) {
    .homePage {
        transform: rotate(90deg);
        overflow: hidden;
        width: 100vh;
        background-size: 100vh 100vh;
        margin-left: -50vh;

        .headHomePage {
            .leftSidePage {
                .avtarShow {
                    .imgShow {
                        width: 40px;
                        height: 40px;

                        img {
                            width: 40px;
                            height: 40px;

                        }

                        span {
                            font-size: 13px;
                        }
                    }
                }

            }

            .coinShowHomePage {
                min-width: 88px;
                margin-right: 8vh;

                .showImg {
                    img {
                        width: 16px;
                        height: 16px;
                    }

                    h6 {
                        margin-left: 6px;
                        margin-bottom: 0px;
                        font-size: 12px;

                    }
                }

                .addIcon {
                    width: 16px;
                    height: 16px;
                }

            }
            .walletImg {

                .walleteBox {
                    img {
                        width: 20px;
                        height: 20px;
                        left: -12px;
                    }

                    h6 {
                        font-size: 14px;
                    }

                    .addIcon {
                        width: 20px;
                        height: 20px;
                        right: -6px;
                    }
                }
            }
        }

        .homeBody {
            .menuShow {
                max-width: 24vh;
                .iconShow {
                    padding:9% 5%;
                    &:nth-last-child(1) {
                        border-bottom: 1px solid white !important;
                    }
&:nth-child(6){
    display:none;
}
&:nth-child(7){
    display:none;
}
&:nth-child(8){
    display:none;
}
&:nth-child(9){
    display:none;
}
&:nth-child(10){
    display:none;
}
                    img {
                        width: 20px;
                        height: 20px;
                    }

                    span {
                        font-size: 13px;
                    }
                }
            }

            .mobileView {
                display: block !important;
            }
.logoShow{
    align-items: flex-start;
}
            .LogoShowHome {
                margin-top: 0vh;
                margin-right: 5vh;
                .logoShowImg {
                    
                    margin-top: 3vh;
                    .logoImg {
                        width: 100px;
                        height: 100px;
                        border: 3px solid #ffc107;
    border-radius: 50%;
    outline: 1px solid #ffc107;

                    }
                    h6{
                        font-size: 15px;
                        margin-top: 13px;
                    
                    }
                }

                .GameShowHome {
                    margin-top: 4vh;

                    .gameShowBox {
                        width: 88px;
                        margin: 0px 10px;
                        height: 88px;
                        outline: 2px solid #F5B909;
                        span {
                            font-size: 12px;
                        }

                        img {
                            width: 35px;
                            height: 35px;

                        }

                    }
                }
            }
        }
    }

    .withmodel {
        transform: rotate(90deg);
        width: 100vh;

        .withModelHead {
            width: 98vh;
            .closeModelIcon {
                width: 48px;
                height: 46px;

                .closeModelBg {
                    width: 36px;
                    height: 36px;
                }
            }

            h6 {
                font-weight: 400;
            }
        }

        .withModelbody {
            overflow: scroll;
            max-height: 43vh;
            width: 98vh;
            table{
    width: 92% !important;
                td{
                    padding: 2px;
                }
            }
        }
    }

    .model {
        transform: rotate(90deg);
        width: 100vh;
        margin-left: -23vh;

        .modelMain {
            .modelHead {
                border-radius: 16px 16px 0px 0px;
                padding: 6px 10px;

                .closeIcon {
                    width: 30px;
                    height: 30px;

                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            .modelBody {
                border-radius: 0px 0px 16px 16px;
                padding-bottom: 13px !important;
                max-height: 35vh;
                overflow: scroll;
                padding: 6px 13px;
            }
        }
    }

    .profileView {
        .profileEdit {
            .profileDetialsShow {
                .showImg {
                    width: 56px;
                    height: 56px;

                    img {
                        width: 38px;
                        height: 38px;
                    }

                    i {
                        right: -5px;
                        width: 23px;
                        height: 23px;
                        bottom: -4px;
                    }
                }

                .profileDetails {
                    h6 {
                        font-size: 13px;
                    }
                }
            }
        }

        .profileAvtarProfile {
            gap: 8px;
            margin-top: 30px;

            .showImg {
                width: 50px;
                height: 50px;
            }
        }

        form {
            .inputProfileBox {
                .inputShowProfile {

                    label {
                        margin-top: 5px;
                        font-size: 13px;

                    }

                    input {
                        font-size: 13px;
                        margin-top: 2px;
                    }
                }
            }

            button {
                margin-top: 27px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 5px;
                outline: none;
                background-color: #3da0c3;
                border: none;
                color: white;
                padding: 5px 15px;
                font-size: 13px;
            }
        }
    }
    .withdrwalReq{
        
        .modelBody{
                h6{
                    font-size: 12px;
                }
                form{
                    margin-top: 1px;
                    button{
                        margin-top: 20px;
                    }
                    .modelInput{
                        margin-top: 18px;
                        input{
                            border-radius: 5px;
    height: 35px;
    font-size: 12px;
                        }
                        select{
                            border-radius: 5px;
    height: 35px;
    font-size: 12px;
                        }
                    }
                }
                .paymentShow{
                    margin-top:20px;
                    border-radius:6px;
                    img{
                        width: 52px;
                        height: 37px;
                    }
                    svg{
                        width: 52px;
                        height: 37px;
                    }
                }
        }
    }
    .settingModel{

    }
}